# OS
Thumbs.db
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist/
build/

# VS Code
.vscode/

# Env files
.env

# Logs
*.log

# Python
__pycache__/

# Swap
*.swp
